@model Bookstore.ViewModel.BookAuthorViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>Create Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @if(ViewBag.message != null)
            {
                <h5 class="alert alert-danger">@ViewBag.message</h5>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" name="File" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="authorId" class="control-label"></label>
                <select asp-for="authorId" class="form-control"
                        asp-items="@(new SelectList(Model.authors,"id" , "fullName"))">
                </select>
                <span asp-validation-for="authorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {

<partial name="_Validation" />
}
